
<div class='row'>
  <div class='col-md-3'> 
      <% if user_signed_in? %>
        <p><%= "Hi, #{current_user.email}" %></p>
        <%= link_to 'Submit a photo', new_submission_path %>
      <% else %>
        <%= link_to 'Submit a photo', home_no_submit_path %> 
      <% end %>
  </div>

  <div class='col-md-9'>
  
  <% @submissions.each do |submission| %>


      <div class='col-md-3 pic-container'>
        <%= link_to (image_tag submission.photo.url(:polarized), class: 'uploaded-pic'), submission_path(submission) %>
        <p><%= link_to  submission.description, submission_path(submission) %></p> 
        <p>Submitted by <%= submission.user.email if submission.user %></p>
        <p><%= tag_names(submission) %></p>
        <p><%= link_to 'Buy print', new_charge_path %></p>
      </div>

    <% end %>
  </div>

</div>
  

