<h1>Welcome to Captioner</h1>
<p>it friggin' rules a lot</p>
<img src="assets/spinner.gif"> 
   <% if user_signed_in? %>
    <p><%= "Hi, #{current_user.email}" %></p>
    <ul><li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li></ul>
    <% else %>
    <ul>
      <li><%= link_to 'Create account', new_user_registration_path %></li>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
    </ul>
   <% end %>

  <% if user_signed_in? %>
      <%= link_to 'Submit a photo', new_submission_path %>
  <% else %>

      <!-- <a href="#" onclick="warnPhoto()">Submit a photo</a> -->
    <%= link_to 'Submit a photo', home_no_submit_path %> 
  <% end %>


  
  <% @submissions.each do |submission| %>
   
    <%= image_tag submission.photo.url(:medium) %>

    <p><%= submission.description %> Submitted by <%= submission.user.email if submission.user %></p>
  <% end %>
  




  <script>
    var warnPhoto = function(){
      //set the class of the id error message
    }
  </script>