<p>This is : <%= @submission.description%></p>

<%= image_tag @submission.photo.url(:medium), class: 'uploaded-pic' %>

<%= form_for [@submission, Caption.new] do |f| %>
  <%= f.label :text, 'Enter a caption' %>
  <%= f.text_field :text%>
  <%= f.submit 'Add caption' %>
<% end %>

<% @submission.captions.each do |caption| %>
  <%= image_tag caption.captioned_photo.url(:comic), class: 'captioned_photo-pic' %>

<% end %>

