<!DOCTYPE html>
<html>
<head>
  <title>Captioner</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar fixed: :top, brand: "Captioner - Let the world caption your photos " do %>
  <%= menu_group pull: :right do %>
    <% if user_signed_in? %>
      <%= menu_item 'Logout', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= menu_item 'Create account', new_user_registration_path %>
      <%= menu_item 'Sign in', new_user_session_path %>
    <% end %>
  <% end %>
<% end %>

<section class="wrapper">
  <%= bootstrap_flash %>
  <%= yield %>
</section>

<footer>
  <p>&copy; Captioner 2013</p>
</footer>

</body>
</html>
